@media (min-width: 80em) {
  /**
   * Show Debian logo on background at the top of every page on desktop devices
   * (80em width is consistent with the source theme breakpoints)
   */

  /* BEGIN home page */

  body.layout--splash .page__hero--overlay .wrapper {
    position: relative;
  }

  body.layout--splash .page__hero--overlay .wrapper::after {
    content: "";
    width: 100%;
    height: 450px; /* approximately (menu header) + (overlay) + (overlay bottom margin) */
    position: absolute;
    top: calc(1em - 100px - 3em); /* (desired position from the top of the page) - (menu header) - (wrapper padding) */
    left: 1em;
    z-index: -999;
    background-image: url('../images/debian-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
  }

  /* END home page */

  /* BEGIN regular pages */

  #main {
    position: relative;
  }

  body:not(.layout--splash) #main::after {
    content: "";
    width: 100%;
    height: 450px;
    position: absolute;
    top: calc(1em - 100px); /* (desired position from the top of the page) - (menu header) */
    left: 0;
    z-index: -999;
    background-image: url('../images/debian-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
  }

  /* END regular pages */

  #site-nav {
    background: unset; /* remove background from the page title in the menu header */
  }

  #site-nav .site-logo {
    display: none; /* hide the regular logo from the menu header */
  }
}

@media (min-width: 48em) {
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .columns > * {
    flex: 1;
    padding: 0 1%;
  }
  .columns.two > * {
    width: 48%;
  }
}
